/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #010101;
  }

#headerNav {
  color: #010101;

}

.sectionHead {
  background-color: #919F90;
  padding: 0%;
  padding-left: 0%;
  padding-right: 0%;
}


.section0 {
  background-color: #010101;
  padding: 0%;
  padding-left: 0%;
  padding-right: 0%;
  align-content: center;
  text-align: center;
  size-adjust: 70%;
}

#imgGif {
  size-adjust: 50%;

}


  .section1 {
    background-color: #919F90;
    padding: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }


.section2 {
  background-color: white;
  padding: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.section3 {
  background-color: #DBDBDB;
  padding: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

#topNavBar {
  justify-content: center;
  align-content: center;
  align-items: center;
  }

 #navItems {
      font-size: 16pt;


 } 

 #logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: #AD8169;
  border: solid rgb(255, 0, 0);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
  
ul {
list-style-type: none;
margin: 5px;
padding: 5px;
overflow: hidden;
background-color: #333;
font-size: 16pt;
}



li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 16px;
}

li a:hover {
background-color: #111;
}
